body {
  background-image: url(k.jpg);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: rgb(4, 93, 109);
  width: 320px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #764ba2;
}

.card h1 {
  margin: 15px 0 5px;
  color: #333;
}

.bio {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

audio {
  width: 100%;
}
