* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #fff9f3, #ffecec);
  color:beige;
  text-align: center;
  padding: 20px;
}

.page {
  max-width: 600px;
  margin: 0 auto;
  background:linear-gradient(to right, pink, lightblue);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12 px beige;
  animation: fadeIn 0.8s ease-in-out;
}

.hidden {
  display: none;
}

h1 {
  font-size: 32px;
  color:beige;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color:darksalmon;
  color:bisque;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease;
}

button:hover {
  background-color:bisque;
}