body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* Ungu sangat muda untuk background utama */
    background-color: #F3E5F5; 
    /* Ungu tua untuk teks agar tetap kontras */
    color: #4A148C; 
    text-align: center;
}

/* INTRO / PERKENALAN */
.intro {
    /* Ungu pastel untuk section intro */
    background-color: #E1BEE7; 
    padding: 50px 20px;
}

.profile-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    /* Border putih tipis agar foto menonjol */
    border: 6px solid #FFFFFF; 
    margin-bottom: 20px;
}

/* SECTION */
section {
    padding: 40px 20px;
}

/* SKILLS */
.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    /* Ungu muda transparan untuk list skill */
    background: #D1C4E9; 
    margin: 8px auto;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
}

/* PORTFOLIO */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    width: 250px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    /* Shadow ungu tipis */
    box-shadow: 0 4px 12px rgba(106, 27, 154, 0.1); 
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: #E1BEE7;
    padding: 20px;
    font-size: 0.9em;
}

audio {
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
